html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%
}

h1 {
	font-size: 2em;
	margin: 0
}

h2 {
	margin: .1em;
	font-size: 1.25em
}

a {
	background-color: transparent;
	color: #fff;
	text-decoration: none;
	outline: 0
}

small {
	font-size: 80%
}

#playButton {
	font-size: 1em;
	border: none;
	background: none;
	cursor: pointer
}
#playButton::after {
	content: "🔉";
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
	overflow: hidden
}

/* Phone Display
 ========================================================================== */

.marvel-device {
	display: inline-block;
	position: relative;
	box-sizing: content-box !important;
	margin: 0 auto
}

.marvel-device .screen {
	width: 100%;
	position: relative;
	height: calc(100vh - 10em);
	color: #fff;
	z-index: 2;
	text-align: center;
	display: block;
	border-radius: .1em;
	box-shadow: 0 0 0 .2em #111
}

.marvel-device .top-bar {
	height: .2em;
	background: #000;
	width: 100%;
	display: block
}

.marvel-device.htc-one {
	padding: 5em 1em 0;
	max-width: 26em;
	background: #bebebe;
	border-radius: 2em;
	height: calc(100vh - 6em)
}

.marvel-device.htc-one:after {
	content: '';
	display: block;
	width: calc(100% - .6em);
	height: calc(100% - .5em);
	position: absolute;
	top: .25em;
	left: .25em;
	background: #eee;
	border-radius: 2em
}

.marvel-device.htc-one .top-bar {
	width: calc(100% - .5em);
	position: absolute;
	background: #424242;
	top: 3.5em;
	z-index: 1;
	left: .25em
}

.marvel-device.htc-one .speaker {
	height: 1em;
	width: 14em;
	display: block;
	position: absolute;
	top: 1.5em;
	z-index: 2;
	left: 50%;
	margin-left: -7em;
	background: radial-gradient(#343434 25%, transparent 50%) 0 0, radial-gradient(#343434 25%, transparent 50%) .5em .5em;
	background-size: .5em .5em;
	background-position: top left
}

.marvel-device.htc-one .camera {
	display: block;
	position: absolute;
	top: 1em;
	right: 2em;
	background: #3c3d3d;
	border-radius: 100%;
	width: 2em;
	height: 2em;
	z-index: 3
}

.marvel-device.htc-one .camera:before {
	width: 1em;
	height: 1em;
	background: #000;
	border-radius: 100%;
	position: absolute;
	content: '';
	top: .5em;
	left: .5em
}

.marvel-device.htc-one .sensor {
	display: block;
	position: absolute;
	top: 2em;
	left: 4em;
	background: #3c3d3d;
	border-radius: 100%;
	width: .5em;
	height: .5em;
	z-index: 3
}

.marvel-device.htc-one .sensor:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	right: 1em;
	background: #3c3d3d;
	border-radius: 100%;
	width: .5em;
	height: .5em;
	z-index: 3
}

body {
	text-align: center;
	font-family: sans-serif;
	font-size: .9em;
	margin: 0;
	background-color: #202020;
	background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, #080808, #202020);
	background-size: 1em 1em, 1em 1em, 1em .5em;
	background-position: 0 0px, .5em .5em, 0 0
}

p {
	margin: .25em
}

.icon {
	vertical-align: top;
	width: 20%;
	display: inline-block;
	padding-top: 1em;
	font-size: .9em
}

.icon svg {
	max-width: 85%;
	border-radius: 5%
}

.screen {
	background-color: #000
}

.download {
	text-decoration: underline
}

abbr[title] {
	text-decoration: none
}

.none {
	display: none
}

#bottomspeaker {
	position: relative
}

.screen {
	scrollbar-width: none;
	-ms-overflow-style: none;
	overflow-y: auto
}

.screen::-webkit-scrollbar {
	width: 0
}